
body{
    text-transform: capitalize;
    background: rgba(228, 228, 16, 0.788);
    font-family:Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    font-size: 25px;
    color: red;
}
header img{
    margin-top: 1px;
    width: 80px;
}
header h1{
    margin-top: 0;
}
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: center; */
    position: relative;
    left: 10%;
    
}
.order-form{
background: rgb(93, 192, 224);
padding: 20px;
border-radius: 15px;
box-shadow: 0 4px 10px rgba(0, 0,0, 0.2);
flex: 1 1 350px;
max-width: 400px;
}
.order-form label{
    display: block;
    font-weight:bold ;
    color:rgb(253, 10, 10);
    margin-bottom: 5px;
    font-weight: 900;
}
.order-form input,
.order-form select,
.order-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #0e0303;
    border-radius: 15px;
    font-size: 14px;
}
.order-form button{
    width: 100%;
    padding: 10px;
    background: darkred;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    transition: 0.3s;


}
#sub:hover{
  background-color: rgb(37, 241, 10);
}





.order-table {
      background: #fff;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      width: 30%;
      position: absolute;
      left: 45%;
    top: 31%;

      
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }

    th {
      background: #ffcc80;
      color: #4e342e;
      font-weight: 900;
    }

    td {
      background: #fff3e0;
      font-weight: 900;
    }
    
    
